body {
  background-color: white;
  text-align: center;
}

h1 {
  color: #881956;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 30px;
}
h3 {
  color: rgba(95, 224, 241, 0.719);
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
div {
  display: inline-block;
  margin: 20px;
  padding: 20px;
}
.github {
  width: 80px;
  height: auto;
  text-align: center;
  margin: auto;
  padding: 10px;
}
.linkedin {
  width: 80px;
  height: auto;
  text-align: center;
  margin: auto;
  padding: 10px;
}
.email {
  width: 80px;
  height: auto;
  text-align: center;
  margin: auto;
  padding: 10px;
}
.whatsapp {
  width: 80px;
  height: auto;
  text-align: center;
  margin: auto;
  padding: 10px;
}
.instagram {
  width: 80px;
  height: auto;
  text-align: center;
  margin: auto;
  padding: 10px;
}
.container {
  width: 100%;
  margin: auto;
  text-align: center;
  justify-content: space-between;
}
p {
  text-align: center;
  color: #881956;
  font-size: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.bottom {
  text-align: center;
  width: 100%;
  height: auto;
  border-color: rgba(15, 15, 218, 0.719);
}
